# UltraCartRestApiV2.VerificationRecord

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**name** | **String** |  | [optional] 
**type** | **String** |  | [optional] 
**value** | **String** |  | [optional] 


